
html {
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.4rem;

}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
}

.splash-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 31rem;
  background-image: url(../images/background_banner.png);
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 960px;
  height: 100%;
}

.inside-splash-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 31rem;
}

.splash-message-container {
  display: flex;
  background-color: white;
  padding: 1.5rem 3rem 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  z-index: 10;
  /*border: 1px solid yellow;*/
}

.header-container {
  margin-top: 1rem;
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 1rem 0rem;
  background-color: cadetblue;
  z-index: 10;
  /*margin-bottom: 10rem;*/
}

.mobile-display {
  display: none;
}

.logo {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  width: auto;
}

.logo-header {
  display: inline-flex;
  align-items: center;

}

.logo-header h3 {
  font-size: 1rem;
  color: white;
}

.menu a {
  text-decoration: none;
  display: inline-flex;
  color: white;
  margin: 0rem 2rem 0rem 0rem;
}

.product-container {
  display: flex;
  width: 100%;
  align-content: space-around;
  justify-content: center;
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /*border: 1px solid black;*/
}

.mobile-display {
  display: none;
}

.item-container {
  display: inline-flex;
  flex-direction: column;
  width: 7rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /*border: 1px solid black;*/
}

.item-pic-container {
  display: inline-flex;
  width: auto;
  background-size: auto;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black;*/
}

.item-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

#item-1 {
  width: 3.5rem;
}

#item-2,
#item-3 {
  width: 5rem;
}

.information-band {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 5rem;
  /*border: 1px solid black;*/
}

.block-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 2.5% 0 2.5%;
  /*border: 1px solid black;*/
}

.information-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .5rem 0rem .5rem 1.25rem;
  color: white;
  font-weight: bold;
  background-color: cadetblue;
  text-align: left;
  margin-bottom: 1rem;
}

.information-block-white {
  display: inline-flex;
  flex-direction: column;
  width: 100px%;
  background-color: white;
  padding: 1rem 0rem;
  text-align: left;
  justify-content: flex-end;
  /*border: 1px solid black;*/
}

.footer-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 9.5rem;
  justify-content: left;
  align-items: center;
  background-color: azure;
  /* border: 1px solid white; */
}

.footer-container .logo-header .logo {
  margin-left: 4rem;
}

@media only screen and (max-width: 1024px) {

  /* rules to apply for screens 1024px and smaller */

  .site-container {
    width: 100%;
  }

  .splash-container {
    height: 22rem;
  }

  .inside-splash-container {
    height: 22rem;
  }

  .header-container {
    margin-top: 0rem;
  }

  .splash-message-container {
    padding: .75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
    /*border: 1px solid yellow;*/
  }

  .mobile-display {
    display: none;
  }


  h1 {
    font-size: 1.33rem;
  }

}


@media only screen and (max-width: 650px) {

/* rules to apply for screens 650px and smaller */
/* reality is that the menu won't display nicely under 650px wide */

  .non-mobile-display {
    display: none;
  }

  .mobile-display {
    display: flex;
    margin-top: 0rem;
  }

}

@media only screen and (max-width: 470px) {

  /* rules to apply for screens 470px and smaller */

  .splash-container {
    height: 17rem;
    background-position: 20%;
  }

  .inside-splash-container {
    height: 17rem;
    flex-direction: column;
  }

  .product-container {
    flex-direction: column;
    height: 100%;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    align-items: center;
  }

  .item-container {
    width: 100%;
    height: 7rem;
  }

  .splash-message-container {
    padding: 1rem 0rem;
    margin-top: 9rem;
    margin-right: 0rem;
    justify-content: center;
    width: 100%;
    /*border: 1px solid yellow;*/
  }

  .information-band {
    flex-wrap: wrap;
    margin-bottom: 0rem;
  }

  .block-container {
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .information-block {
    text-align: center;
    padding: .5rem 0rem .5rem 0rem;
  }

  .information-block-white {
    padding: 0rem;
    margin-bottom: 4rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .footer-container {
    justify-content: center;
  }

  .footer-container .logo-header .logo {
    margin-left: 1rem;
  }

  .logo-header h4 {
    display: none;
  }

  p {
    font-size: .77rem;
    line-height: 1.2;
  }

  #item-2,
  #item-3 {
    margin-top: 1.54rem;
  }

}
